@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.ttf");
  font-weight: 600;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  /* font-family: "Poppins"; */
}
